body {
width: 100%;
height: 100%;
}

.barra-cima {
width: 100%;
background-color:black;
height: 230px;
}

main {
margin: 0 auto;
width: 900px;
position: relative;
}

.header1{
    width: 100%;
    height: 200px;
    color: white;
    padding-left: 50px;
}

.foto{
    padding: 20px;
    float: left;
    width: 200px;
}

.h1, .h2{
    size: 10px;
}

.linha{
    display:flex;
    flex-flow: row wrap;
    padding-top: 15px;
    margin: 5px;
}

.coluna-45{
    width: 45%;
    line-height: 1.5;
    text-align: left;
}

.coluna-55{
    width: 55%;
    text-align: left;
    background-color: rgb(238, 234, 234);
    align-items: center;
    line-height: 1.5;
}

.contato ul li{
    list-style: none;
}

.titulounb, .titulosagres, .titulodata {
    text-align: right;
}